body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
}

form {
    margin: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 80%;
    padding: 5px;
    margin: 5px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
}

img {
    max-width: 80%;
}
